$sufaceColor: #1f1f1f;
$onPrimaryColor: #e2e2e2;
$backgroundColor: #121212;
$shadowColor: #050505;

.topbar{
    background: $sufaceColor;
    color: $onPrimaryColor;
    padding: 8px;
    box-shadow: 2px 2px 4px $shadowColor;
}