$sufaceColor: #1f1f1f;
$onPrimaryColor: #e2e2e2;
$backgroundColor: #121212;
$shadowColor: #050505;
$inputBackgroundColor: #080808;
$redColor: hsl(0, 80%, 60%);

.offers-book{
    display: inline-flex;
    flex-direction: column;
    background: $sufaceColor;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px $shadowColor;
    .title{
        font-weight: bold;
        text-align: center;
        margin-bottom: 8px;
    }
    .offers-list{
        display: flex;
        height: 200px;
        overflow-y: auto;
    }
    .purchase, .sale{
        display: inline-block;
        span{
            display: inline-block;
            text-align: center;
        }
        .total{
            width: 48px;
        }
        .price{
            width: 132px;   /* Temporário enquanto não há os indicadores gráficos*/
        }
    }
    .purchase{
        .offer .price{
            color: green;
        }
    }
    .sale{
        .offer .price{
            color: $redColor;
        }
    }
}