<div class="bullet">
    <p class="title">Boleta</p>
    <form>
        <div class="field">
            <div class="value-input">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="quantityDecrease()">-</a>
                <input type="text" [(ngModel)]="quantityString" 
                name="quantity" class="quantity" (change)="parseQuantity($event)">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="quantityIncrease()">+</a>
            </div>
            <div class="value-input">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="priceDecrease()">-</a>
                <input type="text" [(ngModel)]="priceString" 
                (change)="parsePrice($event)" name="price" class="price">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="priceIncrease()">+</a>
            </div>
        </div>
        <div class="field">
            <a href='#' onclick="event.preventDefault()" class="button sell" (click)="sell()">Vender</a>
            <a href='#' onclick="event.preventDefault()" class="button buy" (click)="buy()">Comprar</a>
        </div>
        <p class="field hr"></p>
        <div class="field">
            <button type="button" class="button sell">Vender no Topo</button>
            <button type="button" class="button buy">Comprar no Topo</button>
        </div>
        <div class="field">
            <button type="button" class="button sell">Vender Já</button>
            <button type="button" class="button buy">Comprar Já</button>
        </div>
    </form>
</div>
