<div class="bullet">
    <p class="title">Boleta</p>
    <form>
        <div class="field">
            <!--Para testar envio de ofertas por bots-->
            <!--<input type="text" name="playerId" [(ngModel)]="playerId">-->
            <div class="value-input">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="quantityDecrease()">-</a>
                <input type="text" [(ngModel)]="quantityString" 
                name="quantity" class="quantity" (change)="parseQuantity($event)">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="quantityIncrease()">+</a>
            </div>
            <div class="value-input">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="priceDecrease()">-</a>
                <input type="text" [(ngModel)]="priceString" 
                (change)="parsePrice($event)" name="price" class="price">
                <a href='#' onclick="event.preventDefault()" 
                class="button" (click)="priceIncrease()">+</a>
            </div>
        </div>
        <div class="field">
            <a href='#' onclick="event.preventDefault()" 
            class="button sell" (click)="sell()">Vender</a>
            <a href='#' onclick="event.preventDefault()" 
            class="button buy" (click)="buy()">Comprar</a>
        </div>
        <p class="field hr"></p>
        <div class="field">
            <a href='#' onclick="event.preventDefault()" 
            class="button sell" (click)="teaseSellTop()">Apregoar no Topo</a>
            <a href='#' onclick="event.preventDefault()" 
            class="button buy" (click)="teaseBuyTop()">Apregoar no Topo</a>
        </div>
        <div class="field">
            <a href='#' onclick="event.preventDefault()" 
            class="button sell" (click)="sellNow()">Vender Já</a>
            <a href='#' onclick="event.preventDefault()" 
            class="button buy" (click)="buyNow()">Comprar Já</a>
        </div>
    </form>
</div>
