$sufaceColor: #1f1f1f;
$onPrimaryColor: #e2e2e2;
$backgroundColor: #121212;
$shadowColor: #050505;
$inputBackgroundColor: #080808;
$inputBorderColor: #888;

.game-view{
    padding: 8px 0;
    display: flex;
    justify-content: left;
    .col-1{
        display: inline-flex;
        height: 100%;
        flex-direction: column;
        margin-right: 8px;
    }
    .col-2{
        display: inline-flex;
        height: 100%;
        flex-direction: column;
        margin-right: 8px;
    }
    .col-3{
        display: inline-flex;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}